@model IEnumerable<WEBAIBCCI.Serieswinsoft>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SeriesId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeriesName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SeriesId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeriesName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SeriesId  }) |
            @Html.ActionLink("Details", "Details", new {id=item.SeriesId  }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SeriesId })
        </td>
    </tr>
}

</table>
